<mat-card class="card">
    <mat-card-content class='content-header'>
        <mat-card-header class='content-header'>
            <mat-card-title>Master</mat-card-title>
            <mat-card-subtitle>A new way to store your media without restriction.
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card-content>
    <mat-card-content>
        <div class="content">
            <p>
                I have designed this product to store media with no size or restriction,
            </p>
            <p>
                and while having a price, no ads, no selling media to facial
                recognition,
            </p>
            <p>and just life in the way we should live in America, Free.</p>
        </div>
    </mat-card-content>
    <mat-card-footer class="content-footer">
        <div>This was designed by Buckmar Inc. Technical Division</div>
    </mat-card-footer>
</mat-card>